@{
    ViewData["Title"] = "Home Page";
}
<style>
    h1{
        color:red;
    }
</style>

<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 class="display-4,">Welcome to Task Management Project </h1>
   <h1> This is Project Home Page</h1>
   <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
